@model MiniFb.Models.PersonModel
@{
    ViewBag.Title = "AddPerson2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>AddPerson2</h2>

@using (Html.BeginForm("AddPerson2", "Person", FormMethod.Post))
{


    <div class="form-group">
        <label for="name">Name</label>
        @Html.TextBoxFor(Model => Model.FullName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        @Html.TextBoxFor(Model => Model.Age, new { @class = "form-control" })
    </div>
        <button id="submit button" class="btn btn-default" type="submit">Subscribe</button>

}
